<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ title or 'CIC Course Scheduler' }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="main-layout" style="max-width:1100px;margin:20px auto;">
    {% block body %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>